JWT_SECRET_KEY=YOUR_SECURE_SECRET_HERE
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/?retryWrites=true&w=majority
FRONTEND_URL=https://zero-day-attack.vercel.app
ALLOWED_ORIGINS=https://zero-day-attack.vercel.app
FLASK_ENV=production
